.container {
  padding: 3rem;
}
.topContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.topContent h1 {
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}



.category {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

.musicCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}